// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-at-startup

    spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1" "&" // Polkit
    spawn-at-startup ".configs/niri/autostart.kdl" // autostart
    spawn-at-startup ".configs/niri/keybinds.kdl" // keybinds
    spawn-at-startup ".configs/niri/window-rules.kdl" // window-rules
    spawn-at-startup "xwayland-satellite" // XWayland support
    spawn-at-startup "swww-daemon" // Wallpaper daemon
    spawn-at-startup "qs" // Launch Quickshell
    spawn-at-startup "vesktop" // Launch Vesktop

    prefer-no-csd // Disable program decorations
    screenshot-path null // Disable screenshot saving

    spawn-at-startup "dunst"
    spawn-at-startup "mpv" "--no-video" "--volume=50" "$HOME/.config/jarvis-sounds/jarvis-startup.mp3"
