[Unit]
Description=Steam Audio Router
After=pipewire.service

[Service]
Type=simple
ExecStart=/home/wehttamsnaps/.local/bin/route-steam-audio.sh
Restart=on-failure

[Install]
WantedBy=default.target
